{
    "directory": "{{proj_dir}}",
    "command_list":[
        {
            "pattern": "(?!build/).*\\.(py|j2|yaml)",
            "command": "{{ansible_env.HOME}}/env/default/bin/inv copy-files"
        }
    ]
}