{
    "directory": "{{proj_dir}}",
    "command_list":[
        {
            "pattern": "(?!build/).*\\.py",
            "command": "{{ansible_env.HOME}}/env/default/bin/python -m flake8"
        }
    ]
}